.style {
    padding: 0px;
}
.style_1 {
    padding: 30px;
}
.style_SkipStroke_2 {
    background: transparent url(Playtime_waves_05.jpg) repeat scroll top left;
    opacity: 1.00;
}
.style_SkipStroke_3 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke {
    background: transparent url(Kids_green_header_02.png) repeat scroll top left;
    opacity: 1.00;
}
.style_SkipStroke_1 {
    background: transparent;
    opacity: 1.00;
}
.style_External_643_127 {
    position: relative;
}
.style_External_586_26 {
    position: relative;
}
.style_External_645_61 {
    position: relative;
}
.Body {
    color: rgb(255, 255, 255);
    font-family: 'Chalkboard', 'Comic Sans MS', sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 22px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Header {
    color: rgb(255, 255, 255);
    font-family: 'Chalkboard', 'Comic Sans MS', sans-serif;
    font-size: 48px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 62px;
    margin-bottom: 0px;
    margin-left: 23px;
    margin-right: 153px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Normal {
    padding: 0px;
}
.Normal_External_643_127 {
    position: relative;
}
.Normal_External_586_26 {
    position: relative;
}
.Normal_External_645_61 {
    position: relative;
}
.Title {
    color: rgb(109, 71, 34);
    font-family: 'Chalkboard', 'Comic Sans MS', sans-serif;
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 26px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 5px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.graphic_generic_body_textbox_style_default_SkipStroke {
    background: transparent url(Playtime_waves_05.jpg) repeat scroll top left;
    opacity: 1.00;
}
.graphic_generic_header_textbox_style_default_SkipStroke {
    background: transparent url(Kids_green_header_02.png) repeat scroll top left;
    opacity: 1.00;
}
.graphic_generic_title_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_image_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
a {
    color: rgb(109, 71, 34);
    text-decoration: underline;
}
a:visited {
    color: rgb(38, 56, 60);
    text-decoration: none;
}
a:hover {
    color: rgb(196, 95, 28);
    text-decoration: none;
}
#widget2 a {
    color: rgb(109, 71, 34);
    text-decoration: underline;
}
#widget2 a:hover {
    color: rgb(196, 95, 28);
    text-decoration: none;
}
#widget1 a:visited {
    color: rgb(38, 56, 60);
    text-decoration: none;
}
.bumper {
    font-size: 1px;
    line-height: 1px;
}
#id3 div.caption span.title {
    color: rgb(109, 71, 34);
    font-family: 'Chalkboard', 'Comic Sans MS', sans-serif;
    font-size: 10px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 13px;
    opacity: 1.00;
    text-decoration: none;
    text-transform: uppercase;
}
#id3 canvas {
    z-index: -1;
}
#widget4 .Comment_Header {
    color: rgb(109, 71, 34);
    font-family: 'Chalkboard-Bold', 'Chalkboard', 'Comic Sans MS', sans-serif;
    font-size: 10px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 16px;
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
}
#widget4 .Comment_Author {
    color: rgb(255, 255, 255);
    font-family: 'Chalkboard-Bold', 'Chalkboard', 'Comic Sans MS', sans-serif;
    font-size: 10px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 16px;
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
}
#widget3 a {
    color: rgb(109, 71, 34);
    text-decoration: underline;
}
#id3 div.caption {
    line-height: 13px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-indent: 0px;
}
#widget2 .Comment_Posted_Date {
    color: rgb(109, 71, 34);
    font-family: 'Chalkboard-Bold', 'Chalkboard', 'Comic Sans MS', sans-serif;
    font-size: 10px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 16px;
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
}
#widget0 a:hover {
    color: rgb(196, 95, 28);
    text-decoration: none;
}
#widget4 .Comment_Posted_Date {
    color: rgb(109, 71, 34);
    font-family: 'Chalkboard-Bold', 'Chalkboard', 'Comic Sans MS', sans-serif;
    font-size: 10px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 16px;
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
}
#widget4 .Comment_Attachment_Caption {
    color: rgb(255, 255, 255);
    font-family: 'Chalkboard', 'Comic Sans MS', sans-serif;
    font-size: 10px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 16px;
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: left;
    text-decoration: none;
    text-transform: none;
}
#widget2 .Caption {
    color: rgb(109, 71, 34);
    font-family: 'Chalkboard', 'Comic Sans MS', sans-serif;
    font-size: 10px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 13px;
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
#widget0 a:visited {
    color: rgb(38, 56, 60);
    text-decoration: none;
}
#widget0 a {
    color: rgb(109, 71, 34);
    text-decoration: underline;
}
#widget4 .Comment_Separator {
    color: rgb(109, 71, 34);
    font-family: 'Chalkboard', 'Comic Sans MS', sans-serif;
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 23px;
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: left;
    text-decoration: none;
    text-transform: none;
}
#widget3 a:hover {
    color: rgb(196, 95, 28);
    text-decoration: none;
}
.spacer {
    font-size: 1px;
    line-height: 1px;
}
#widget4 a:visited {
    color: rgb(38, 56, 60);
    text-decoration: none;
}
#widget4 .Comment_Footer {
    color: rgb(109, 71, 34);
    font-family: 'Chalkboard-Bold', 'Chalkboard', 'Comic Sans MS', sans-serif;
    font-size: 10px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 16px;
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
}
#widget4 a {
    color: rgb(109, 71, 34);
    text-decoration: underline;
}
#widget4 a:hover {
    color: rgb(196, 95, 28);
    text-decoration: none;
}
#widget1 a:hover {
    color: rgb(196, 95, 28);
    text-decoration: none;
}
#widget3 a:visited {
    color: rgb(38, 56, 60);
    text-decoration: none;
}
#widget1 a {
    color: rgb(109, 71, 34);
    text-decoration: underline;
}
#widget1 .Comment_Posted_Date {
    color: rgb(109, 71, 34);
    font-family: 'Chalkboard-Bold', 'Chalkboard', 'Comic Sans MS', sans-serif;
    font-size: 10px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 16px;
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
}
#widget4 .Comment_Body {
    color: rgb(255, 255, 255);
    font-family: 'Chalkboard', 'Comic Sans MS', sans-serif;
    font-size: 10px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 16px;
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: left;
    text-decoration: none;
    text-transform: none;
}
#widget2 {
    display: none;
}
#widget3 .Comment_Posted_Date {
    color: rgb(109, 71, 34);
    font-family: 'Chalkboard-Bold', 'Chalkboard', 'Comic Sans MS', sans-serif;
    font-size: 10px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 16px;
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
}
.tinyText {
    font-size: 1px;
    line-height: 1px;
}
#widget2 a:visited {
    color: rgb(38, 56, 60);
    text-decoration: none;
}
body { 
    -webkit-text-size-adjust: none;
}
div { 
    overflow: visible; 
}
img { 
    border: none; 
}
.InlineBlock { 
    display: inline; 
}
.InlineBlock { 
    display: inline-block; 
}
.inline-block {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom:0.3em;
}
.inline-block.shape-with-text {
    vertical-align: bottom;
}
.vertical-align-middle-middlebox {
    display: table;
}
.vertical-align-middle-innerbox {
    display: table-cell;
    vertical-align: middle;
}
div.paragraph {
    position: relative;
}
li.full-width {
    width: 100;
}
