.Body_Small {
    color: rgb(75, 68, 53);
    font-family: 'HoeflerText-Regular', 'Hoefler Text', 'Times New Roman', serif;
    font-size: 11px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 16px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Free_Form {
    color: rgb(88, 77, 77);
    font-family: 'HoeflerText-Regular', 'Hoefler Text', 'Times New Roman', serif;
    font-size: 11px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 16px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 2px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Header {
    color: rgb(173, 123, 17);
    font-family: 'HoeflerText-Regular', 'Hoefler Text', 'Times New Roman', serif;
    font-size: 36px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 43px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Heading_2 {
    color: rgb(75, 68, 53);
    font-family: 'HoeflerText-Black', 'Hoefler Text', 'Times New Roman', serif;
    font-size: 10px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 14px;
    margin-bottom: 0px;
    margin-left: 5px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: uppercase;
}
.style {
    font-family: 'HoeflerText-Black', 'Hoefler Text', 'Times New Roman', serif;
    font-size: 11px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}
.style_SkipStroke_1 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_2 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_3 {
    background: rgb(252, 250, 248);
    opacity: 1.00;
}
.style_SkipStroke_4 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_5 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_6 {
    background: rgb(252, 250, 248);
    opacity: 1.00;
}
.style_SkipStroke_7 {
    background: rgb(252, 250, 248);
    opacity: 1.00;
}
.Heading_3 {
    color: rgb(173, 123, 17);
    font-family: 'HoeflerText-Black', 'Hoefler Text', 'Times New Roman', serif;
    font-size: 11px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 13px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Normal_External_169_530 {
    position: relative;
}
.Normal_External_400_51 {
    position: relative;
}
.Normal_External_169_54 {
    position: relative;
}
.Normal {
    padding: 4px;
}
.Normal_External_158_22 {
    position: relative;
}
.graphic_generic_description_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_generic_header_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_generic_title_textbox_style_default_SkipStroke {
    background: rgb(252, 250, 248);
    opacity: 1.00;
}
.graphic_image_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_textbox_layout_style_default {
    padding: 4px;
}
.graphic_textbox_layout_style_default_External_159_22 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_158_83 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_108_21 {
    position: relative;
}
.graphic_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
a {
    color: rgb(173, 123, 17);
    text-decoration: none;
}
a:visited {
    color: rgb(88, 77, 77);
    text-decoration: none;
}
a:hover {
    color: rgb(33, 38, 0);
    text-decoration: underline;
}
#widget1 .Summary_Body {
    color: rgb(88, 77, 77);
    font-family: 'HoeflerText-Regular', 'Hoefler Text', 'Times New Roman', serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 17px;
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: left;
    text-decoration: none;
    text-transform: none;
}
#widget0 a:visited {
    color: rgb(88, 77, 77);
    text-decoration: none;
}
.bumper {
    font-size: 1px;
    line-height: 1px;
}
#widget0 a:hover {
    color: rgb(33, 38, 0);
    text-decoration: underline;
}
#widget1 .Summary_Read_More {
    color: rgb(173, 123, 17);
    font-family: 'HoeflerText-Black', 'Hoefler Text', 'Times New Roman', serif;
    font-size: 11px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 16px;
    margin-bottom: 12px;
    margin-top: 4px;
    opacity: 1.00;
    text-align: left;
    text-decoration: none;
    text-transform: none;
}
#widget1 .Summary_Date {
    color: rgb(75, 68, 53);
    font-family: 'HoeflerText-Black', 'Hoefler Text', 'Times New Roman', serif;
    font-size: 11px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 13px;
    margin-bottom: 4px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: left;
    text-decoration: none;
    text-transform: none;
}
#widget1 .Summary_Separator {
    color: rgb(88, 77, 77);
    font-family: 'HoeflerText-Regular', 'Hoefler Text', 'Times New Roman', serif;
    font-size: 11px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 16px;
    margin-bottom: 2px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: left;
    text-decoration: none;
    text-transform: none;
}
.tinyText {
    font-size: 1px;
    line-height: 1px;
}
#widget0 a {
    color: rgb(173, 123, 17);
    text-decoration: none;
}
#widget1 .Summary_Comment {
    color: rgb(88, 77, 77);
    font-family: 'HoeflerText-Regular', 'Hoefler Text', 'Times New Roman', serif;
    font-size: 11px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 16px;
    margin-bottom: 2px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: left;
    text-decoration: none;
    text-transform: none;
}
.searchtext {
    width: 134px;
}
#widget1 .Summary_Title {
    color: rgb(149, 138, 110);
    font-family: 'HoeflerText-Regular', 'Hoefler Text', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 22px;
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: left;
    text-decoration: none;
    text-transform: none;
}
#widget1 a:hover {
    color: rgb(33, 38, 0);
    text-decoration: underline;
}
.spacer {
    font-size: 1px;
    line-height: 1px;
}
#widget1 a {
    color: rgb(173, 123, 17);
    text-decoration: none;
}
#widget1 a:visited {
    color: rgb(88, 77, 77);
    text-decoration: none;
}
body { 
    -webkit-text-size-adjust: none;
}
div { 
    overflow: visible; 
}
img { 
    border: none; 
}
.InlineBlock { 
    display: inline; 
}
.InlineBlock { 
    display: inline-block; 
}
.inline-block {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom:0.3em;
}
.inline-block.shape-with-text {
    vertical-align: bottom;
}
.vertical-align-middle-middlebox {
    display: table;
}
.vertical-align-middle-innerbox {
    display: table-cell;
    vertical-align: middle;
}
div.paragraph {
    position: relative;
}
li.full-width {
    width: 100;
}
